meta(charset='UTF-8')
meta(name='viewport', content='width=device-width,initial-scale=1')
meta(http-equiv='X-UA-Compatible', content='ie=edge')
title Document
style.
  
  table {
        border-left: 1px solid #ebeef5;
        border-top: 1px solid #ebeef5;
        margin-top: 40px;
        width:100%;
        }
        table td,
        th {
        border-bottom: 1px solid #ebeef5;
        border-right: 1px solid #ebeef5;
        }
        .delBtn {
        cursor: pointer;
        }
        a{
          text-decoration:none;
        }
        .pagination{
            display: flex;
            width: 210px;
            text-align: center;
            background-color: rgb(252, 238, 238);
            border-radius: 25px;
            overflow: hidden;
            margin: 30px auto;
            justify-content: center;
        }
        .pagination a{
            width: 30px;
            line-height: 30px;
            color: #404040;
        }
        .pagination a:nth-child(1) {
            transform: rotate(-45deg) ;
        }
        .next {
            transform: rotate(45deg) ;
        }
        .pagination a:hover{
            color: rgb(247, 73, 73);
        }
  
div
  table(border='0')
    tbody
      tr
        th 标题
        th 类型
        th 国家
        th 缩略图
        th 操作
      for v in formatData
        tr
          td #{v.title}
          td #{v.type}
          td #{v.country}
          td
            img(width='140px',height='88px', src='../'+ v.img)
          td
            span.delBtn 删除
      
div.pagination
  a.prev(href="/admin/newslist?p="+prev) ⌜
  - for(let i=1; i<=pages;i++)
      a(href="/admin/newslist?p=" + i) #{i}
  a.next(href="/admin/newslist?p="+next) ⌝
